# Ignore Gradle project-specific cache directory
.gradle
gradle/
build

*.log

app/youtube.properties/
app/src/main/resources/client_secret.json
app/src/main/resources/spotify_client_secret.json
app/src/main/resources/youtube.properties
youtube.properties

# compiled output
build/
out/
generated/
target/
/dist
/tmp
/out-tsc


# IDEs and editors
.fleet/
.idea/
.settings/
*.iml
.project
.classpath


# System Files
.DS_Store

**/**/.out