# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


.fleet/

.idea/

app/youtube.properties/

app/src/main/resources/client_secret.json

app/src/main/resources/spotify_client_secret.json

app/src/main/resources/youtube.properties

gradle/
